body{
    background-image: url(placement1.png);
    background-size: 100%;
    height: 100vh;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    margin-top: auto;
}


